.g-image-upload {
    color: #888;
    position: relative;

    .box {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;

        &.single {
            width: 100%;
            height: 100%;
        }
    }
    
    &.single {
        width: 100%;
        height: 100%;
    }
    
    .add-box {
        border: 1px dashed #d9d9d9;
        background-color: #fbfbfb;
        cursor: pointer;
        transition: border-color .5s ease;
        margin: 0 8px 8px 0;
        
        &:hover {
            border-color: #108ee9;
        }
    }

    .input-area {
        width: 100%;
        height: 100%;
        &.single {
            position: absolute;
        }
    }

}
.image-box {
    border: 1px solid #d9d9d9;
    float: left;
    position: relative;
    margin: 0 8px 8px 0;
    padding: 7px;

    &.err {
        border-color: #c00;
    }

    &.single {
        position: absolute;
    }

    .inside-box {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .box {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
    }

    .cover-box {
        background-color: rgba(0,0,0,.6);
        flex-direction: initial;
        color: #fff;
        opacity: 0;
        transition: opacity .5s ease;
        

        &.hover {
            opacity: 1;
        }

        .content {
            opacity: 0;
            transition: opacity .5s ease;
            
            &.hoverUploaded {
                opacity: 1;
            }
        }
    }

    .uploading-box {
        background-color: rgba(0,0,0,.6);
        flex-direction: initial;
        color: #fff;

        .progress {
            position: absolute;
            bottom: 0; left: 0;
            width: 0;height: 3px;
            background-color: #0c0;
            transition: width .5s ease;
        }
    }

    .image-action-btn {
        width: initial;height: initial;padding:initial;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}

.list-item {
    display: inline-block;
    margin-right: 10px;
}
.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter, .list-leave-to
/* .list-leave-active for <2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}